body {
     display: flex;
    flex-direction: column;
 }

header {
    height: 100px;
    background-color: lightskyblue; 
}

#container {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: lightseagreen;
    padding: 10px;
}

#list {
    padding: 10px;
}

.finished p {
    text-decoration: line-through;
}

.unfinished p {
    text-decoration: none;
}

.hide {
    display: none;
}